<div class="container">
<h1>Welcome to the home page</h1>
    <div class="jumbotron">
        <h1 class="display-4">Blog</h1>
        <p class="lead">This is a certain blog</p>
        <hr class="my-4">
        <p>This is the content of a certain blog.</p>
        <p class="lead">
        <%= link_to 'Sign Up', signup_path, class: "btn btn-primary" %>
        </p>
    </div>
    <%= link_to 'Articles listing', articles_path %> | 
    <%= link_to 'Return to articles listing', articles_path %>
    <%= link_to 'About page', about_path %>
</div>
